<form class="form-horizontal">
			<div class="row" style="margin-top:20px; border-bottom:1px solid black; padding-bottom: 5px;" >
			
				<div class="col-md-4">Social Apps
				</div>
				 
				<div class="col-md-8">
					<ul class="nav nav-pills nav-justified">
						<li role="presentation" class="active"><a href="#">Home</a></li>
						<li role="presentation"><a href="#">Profile</a></li>
						<li role="presentation"><a href="#">Post</a></li>
						<li role="presentation"><a href="#">Friends</a></li>
					</ul>
				</div>
			</div>	 
			
			<div class="row"  style="margin-top:20px;" >
				<div class="col-md-3">&nbsp;
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
					<img src="..." alt="..." class="img-rounded">
					</a>
				</div>
				<div class="col-md-3">&nbsp;
				</div>
			
			</div>
			<div class="row" >
				<div class="col-md-3">&nbsp;
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
					<img src="..." alt="..." class="img-rounded">
					</a>
				</div>
				<div class="col-md-3">&nbsp;
				</div>
			
			</div>
		</form>